*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Russo One', monospace;
  color: #A5C9CA;
  letter-spacing: 2.5px;
  font-size-adjust: 0.78;
}

#body{
  background-color: #2D3434;
}

/*Navbar*/

.nav{
  animation: nav-anm 2s;
}

@keyframes nav-anm{
  0%{
    opacity: 10%;
    transform: translateY(100vh);
  }
}

/*App.js*/

.div-home{
  animation: div-home-anm 2s;
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
}

@keyframes div-home-anm{
  0%{
    opacity: 10%;
    transform: translateY(100vh);
  }
}

/*users-div*/

.table-div{
  overflow-x: auto;
}

.usersForm-table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 2px solid gray;
  animation: usersForm-table 2s;
}

@keyframes usersForm-table{
  0%{
    opacity: 10%;
    transform: translateY(100vh);
  }
}

.usersForm-thead, .usersForm-td{
  border: 2px solid gray;
  text-align: center;
  padding: 8px;
}

.usersForm-tr:hover{
  background-color: #808080;
  box-shadow: 1px 1px 10px #3A5C65;
}

/*create-users-div*/

.create-users-div{
  animation: create-users-div-anm 2s;
}

@keyframes create-users-div-anm{
  0%{
    opacity: 10%;
    transform: translateY(100vh);
  }
}